.profileCard{
    grid-area: profile;
    text-align: center;
    background-color: #fdfbf7;
    height: 100%;
}
.profilePhoto{
    width: 150px;
    height: 150px;
    border-radius: 76px;
    rotate: 180deg;
    transform: rotate(90deg);
    margin-top: 30px;
}
.sideMenuWrapper{
    margin-top: 30px;
}
.sideMenu{
    display: block;
    color: black;
    text-decoration: none;
    margin-bottom: 5px;
    transition: 1s;
}
.sideMenu:hover{
    transform: scale(1.6);
    color: #fe805d;
}
.sideMenu.activeLink{
    color: #fe805d;
}
