.mainContent{
    grid-area: content;
    background-attachment: fixed;
    padding-right: 20px;
    padding-left: 10px;
}
.gallery{
    padding: 30px;
}
.galleryWrapper{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    grid-template-areas: 
        "css react react"
        "css html js"
    ;
}
.htmlImg{
    grid-area: html;
    width: 100%;
    border-radius: 20px;
}
.jsImg{
    grid-area: js;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.cssImg{
    grid-area: css;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.reactImg{
    grid-area: react;
    width: 100%;
    border-radius: 20px;
}
.container{
    margin-top: 30px;
    margin-right: 20px;
    background-color: #f3f1ec;
    border-radius: 50px;
    padding: 30px;
    -webkit-box-shadow: 0px 3px 13px -5px rgba(71,71,71,1);
    -moz-box-shadow: 0px 3px 13px -5px rgba(71,71,71,1);
    box-shadow: 0px 3px 13px -5px rgba(71,71,71,1);
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.text .textMail{
    overflow: hidden;
    letter-spacing: -8px;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease; 
    -o-transition: 2s ease; 
    transition: 1s;
    opacity: 0;
    font-size: 20px;
    color: #399499;
}
.text:hover .textMail{
    letter-spacing: 0.5px;
    opacity: 1;
}
.icons a:first-child .text i{
    font-size: 30px;
    color: #2087cc;
}
.icons a:nth-child(2) .text i{
    font-size: 30px;
    color: rgb(250, 94, 203);
}
.icons a:nth-child(3) .text i{
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.icons a:nth-child(4) .text i{
    font-size: 30px;
    color: rgb(24, 69, 128);
}
a{
    text-decoration: none;
}

