.portfolio{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
img{
    width: 400px;
    height: auto;
    border-radius: 50px;
}
.portfolioItemWrapper{
    border: 1px solid grey;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}
.hoverEffect{
    opacity: 0;
    background-color: #fe805d59;
    overflow: hidden;
    transition: 1s;
    border-radius: 50px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.hoverEffect:hover{
    opacity: 1;
}
.hoverEffect a{
    color: #fe805d;
    font-size: 40px;
    align-self: center;
    transition: 0.5s;
}
.hoverEffect a:hover{

    transform: rotateX(360deg) scale(1.5);
}

